@tailwind base;

body {
  @apply .bg-white .font-sans .antialiased;
}

@tailwind components;

@tailwind utilities;

.container {
  @apply .max-w-screen-xl .mx-auto .px-4;
}

@screen md {
  .container {
    @apply .px-6;
  }

  .my-masonry-grid_column:first-of-type {
    margin-right: 1rem;
  }

  .my-masonry-grid_column:last-of-type {
    margin-left: 0;
  }
}

@screen lg {
  .container {
    @apply .px-8;
  }

  .my-masonry-grid_column:first-of-type {
    margin-right: 1rem;
  }

  .my-masonry-grid_column:last-of-type {
    margin-left: 1rem;
  }
}
